<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--<display-name></display-name>
    <Filter>&lt;!&ndash;filter类路径配置&ndash;&gt;
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.javaweb.demo.filter.EncodingFilter</filter-class>
    </Filter>
    <filter-mapping>&lt;!&ndash;filter类映射配置&ndash;&gt;
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>即为过滤所有&ndash;&gt;
    </filter-mapping>-->

    <!--<servlet-mapping>&lt;!&ndash;servlet类映射配置&ndash;&gt;
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindUserListServlet</servlet-name>
        <url-pattern>/FindUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.javaweb.demo.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindUserListServlet</servlet-name>
        <servlet-class>com.javaweb.demo.servlet.FindUserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.javaweb.demo.servlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.javaweb.demo.servlet.UpdateUserServlet</servlet-class>
    </servlet>-->



    <!--<welcome-file-list>&lt;!&ndash;默认首页地址列表&ndash;&gt;
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>-->
</web-app>